.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #5fcb71;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
}

.loading-text {
    color: #5fcb71;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}